[Desktop Entry]
Name=Gowin FPGA IDE
Comment=Development Environment for Gowin FPGAs
Exec=/gowin/IDE/bin/gw_ide
Terminal=false
Type=Application
Categories=Development;Electronics;Engineering;
Keywords=FPGA;Verilog;Gowin;
StartupNotify=true